<article class="post">
    {{ .Render "header" }}
    {{ .Render "featured" }}
   <!-- <p>{{ printf "%s" .Summary | markdownify }}</p> -->

{{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>.*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}

    <p>{{ $.Scratch.Get "summary" }}</p>

    <footer>
        <ul class="actions">
            <li><a href="{{ .Permalink }}" class="button big">{{ i18n "read_more" }}</a></li>
        </ul>
        {{ .Render "footer-category" }}
    </footer>
</article>
