<header>
    <div class="title">
        {{ if $.Scratch.Get "h1" }}
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ $.Scratch.Set "h1" false }}
        {{ else }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ end }}
        {{ with .Description }}
            <p>{{ . }}</p>
        {{ end }}
    </div>
    <div class="meta">
        <time class="published"
            datetime='{{ .Date }}'>
            {{ default (i18n "date_format") | .Date.Format }}</time>
        <span class="author">{{ .Params.author }}</span>
        {{ if .Site.Params.includeReadingTime }}
            <p>{{ .ReadingTime }} {{ i18n "postreadingtime" }}</p>
        {{ end }}
        <!--<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>-->
        <span class="lang-translation">
          <a class="active" href="{{ .Permalink }}" lang="{{ .Site.Language.Lang }}">
            <img src="/flags/{{ .Site.Language.Lang }}.png" alt="{{ .Site.Language.Lang }}" height="15px">
          </a>
          {{ if .IsTranslated -}}
            {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
            {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
            {{- $cleanLinks := apply $links "chomp" "." -}}
            {{- $linksOutput := delimit $cleanLinks "&nbsp;" -}}
            {{ $linksOutput }}
          {{- end }}            
        </span>
    </div>
</header>
