{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <!-- Please note that the param orderByPublishDate is no longer being used
             since the pagination is not what is expected. Use at your own risk! -->
        {{ if .Site.Params.orderByPublishDate }}
            {{ $paginator := .Paginate (where .Data.Pages.ByPublishDate.Reverse "Type" "post") }}
        {{ else }}
            {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
        {{ end }}

        {{ range .Paginator.Pages }}
            {{ .Render "content-list" }}
        {{ end }}

        {{ partial "pagination" . }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
