            </div>

        <!-- Scripts -->
            <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
            <script src="{{ .Site.BaseURL }}js/skel.min.js"></script>
            <script src="{{ .Site.BaseURL }}js/util.js"></script>
            <!--[if lte IE 8]><script src="{{ .Site.BaseURL }}js/ie/respond.min.js"></script><![endif]-->
            <script src="{{ .Site.BaseURL }}js/main.js"></script>
            <script src="{{ .Site.BaseURL }}js/backToTop.js"></script>

    </body>
</html>
