            </div>
        <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
        <!-- Scripts -->
        {{ $minFiles := .Site.Params.minifiedFilesJS }}

        {{ if isset .Site.Params "minifiedFilesJS" }}
            {{ if ge (len $minFiles) 1 }}
                {{ range .Site.Params.minifiedFilesJS }}
                    <script src="{{ . }}"></script>
                {{ end }}
            {{ end }}
        {{ else }}
            <script src="/js/jquery.min.js"></script>
            <script src="/js/skel.min.js"></script>
            <script src="/js/util.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/backToTop.js"></script>
            <script src="/js/highlight.pack.js"></script>
        {{ end }}
            <!-- This is called by default since this theme uses highlight.js -->
            <script>hljs.initHighlightingOnLoad();</script>
            <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    </body>
</html>
