{{ if .Site.IsMultiLingual }}
<div class="widget-wrap">
  <h3 class="widget-title">{{i18n "languageSwitcherLabel"}}</h3>
  <div class="widget">
    <ul id="language">
        {{ if ge (len .Site.Languages) 3 }}
          <li class="navlinks-container">
            <div class="navlinks-children">
              {{ range .Site.Languages }}
                {{ if not (eq .Lang $.Site.Language.Lang) }}
                  <a href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
                {{ end }}
              {{ end }}
            </div>
          </li>
        {{ else }}
          <li>
            {{ range .Site.Languages }}
              {{ if not (eq .Lang $.Site.Language.Lang) }}
                <a href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
              {{ end }}
            {{ end }}
          </li>
        {{ end }}
    </ul>
  </div>
</div>
{{ end }}
