<li class="lang-switcher dropdown">
    <a class="active" href="{{ .Permalink }}" lang="{{ .Site.Language.Lang }}">
      <img src="/flags/{{ .Site.Language.Lang }}.png" alt="{{ .Site.Language.Lang }}" height="20px">
    </a>
    <ul class="dropdown-menu">
    {{ if .IsTranslated -}}
      {{ range .Translations }}
          <li><a href="{{ .Permalink }}" lang="{{ .Lang }}">
            <img src="/flags/{{ .Lang }}.png" alt="{{ .Lang }}" height="20px">
          </a></li>
      {{ end }}
    {{ else }}
      {{ range .Site.Languages }}
        <li><a href="/{{ .Lang }}" lang="{{ .Lang }}">
            <img src="/flags/{{ .Lang }}.png" alt="{{ .Lang }}" height="20px">
        </a></li>
    {{ end }}
  {{ end }}  
    </ul>
</li>
