<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro">
            <!--<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>-->
            <img style="border-radius:100%" width="320px" src="images/profile1.jpg" alt="" />
            <!--<img src="images/pic04.jpg" alt="" />-->
            <header>
                <h2>{{ .Site.Params.introHeader }}</h2>
                <p>{{ .Site.Params.introParagraph }}</p>
            </header>
            <ul class="icons">
                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </section>

    <!-- Posts List -->
        <section>
            <ul class="posts">
                <header>
                    <h3>Recent Posts</h3>
                </header>
                {{ range first 5 (where .Site.Pages "Type" "post") }}
                    <li>
                        <article>
                            <header>
                                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                <time class="published" datetime='{{ .Date.Format "2006-01-02" }}'>
                                    {{ .Date.Format "January 2, 2006" }}</time>
                            </header>
                        </article>
                    </li>
                {{ end }}
            </ul>
        </section>

    <!-- Categories List -->
        <section>
            <ul class="posts">
                <header>
                    <h3>Categories</h3>
                </header>
                <li>
                    <article>
                        <header>
                            <a href="#">Salesforce</a>
                            <span style="float:right;">30</span>
                        </header>
                    </article>
                </li>
                <li>
                    <article>
                        <header>
                            <a href="#">golang</a>
                            <span style="float:right;">10</span>
                        </header>
                    </article>
                </li>
                <li>
                    <article>
                        <header>
                            <a href="#">javascript</a>
                            <span style="float:right;">5</span>
                        </header>
                    </article>
                </li>
            </ul>
        </section>

    <!-- About -->
        <section class="blurb">
            <h2>About</h2>
            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
            <!--<ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>-->
        </section>

    <!-- Footer -->
        <section id="footer">
            <!--<ul class="icons">
                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
            </ul>-->
            <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
        </section>

</section>
