{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main" class="list">

        <article class="list">

            <header>
                <div class="title">
                    {{ $.Scratch.Set "h1" false }}
                    {{ if (isset (index $.Site.Data.sections $.Title) "title") }}
                    <h1><a href="{{ .Permalink }}">{{ index $.Site.Data.sections $.Title "title" }}</a></h1>
                    {{ else }}
                    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                    {{ end }}
                </div>
            </header>

            <div id="content">
            {{ if (isset (index $.Site.Data.sections $.Title) "description") }}
                <div class="description">{{ index $.Site.Data.sections $.Title "description" | markdownify }}</div>
            {{ end }}
            <ul>
            {{ $paginator := .Paginate .Data.Pages }}
            {{ range .Paginator.Pages }}
                <li>{{ .Render "content-list" }}<hr /></li>
            {{ end }}
            </ul>
            </div>

            <footer><!-- blank but still needed for proper CSS look/feel --></footer>
        </article>
        {{ partial "pagination" . }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
