{{ $.Scratch.Set "customTitle" .Title }}
{{ $.Scratch.Add "customTitle" " Posts - " }}
{{ $.Scratch.Add "customTitle" .Site.Title }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <h1>{{ .Title }}</h1>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages }}
            <article class="post">
                {{ .Render "header" }}
                    <p>{{ printf "%s" .Summary | markdownify }}</p>
                {{ .Render "footer" }}
            </article>
        {{ end }}

        {{ partial "pagination" . }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
